@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="content-wrapper">

        <div class="services">
            <div class="card mb-3">
                <div class="card-header">
                    <h2>Product's List</h2>
                </div>
                <div class="card-body">
                    <div class="multiplecolumn">
                        
                            <div class="col-md-4">
                                <figure class="snip1174 navy col-md-4">
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample33.jpg" alt="sq-sample33" />
                                    <figcaption>
                                        <h2>Տեսականի</h2>
                                        <p>
                                            Մեր տեասկանին սպասում է Ձեզ
                                        </p>
                                        <a href="/main/page/production">Ավելին</a>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-md-4">
                                <figure class="snip1174 red col-md-4">
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample33.jpg" alt="sq-sample33" />
                                    <figcaption>
                                        <h2>Ակցիաներ</h2>
                                        <p>
                                            Թարմացվող ակցիաներ մեր հաճախորդների համար
                                        </p>
                                        <a href="/main/page/auction">Ավելին</a>
                                    </figcaption>
                                </figure>
                            </div>
                        
                        
                            <div class="col-md-4">
                                <figure class="snip1174 navy col-md-4">
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample33.jpg" alt="sq-sample33" />
                                    <figcaption>
                                        <h2>Մեր մասին</h2>
                                        <p>
                                            Մեր ընկերության մաին ծանոթացեք այստեղ
                                        </p>
                                        <a href="/main/page/company">Ավելին</a>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-md-4">
                                <figure class="snip1174 red col-md-4">
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample33.jpg" alt="sq-sample33" />
                                    <figcaption>
                                        <h2>Բաղադրատոմսեր</h2>
                                        <p>
                                            Պատրաստման հարցում Դուք ունեք Ձեր խորհրդատուն
                                        </p>
                                        <a href="/main/page/recipe">Ավելին</a>
                                    </figcaption>
                                </figure>
                            </div>
                        
                       
                        <div class="col-md-4">
                            <figure class="snip1174 navy col-md-4">
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample33.jpg" alt="sq-sample33" />
                                <figcaption>
                                    <h2>Խանութների ցանկ</h2>
                                    <p>
                                        Մեր խանութների ցանկին այստեղ
                                    </p>
                                    <a href="/main/page/map">Ավելին</a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-md-4">
                            <figure class="snip1174 red col-md-4">
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample33.jpg" alt="sq-sample33" />
                                <figcaption>
                                    <h2>Նորություններ</h2>
                                    <p>
                                        Ծանոթացեք մեր նորություններին այստեղ
                                    </p>
                                    <a href="/main/page/news">Ավելին</a>
                                </figcaption>
                            </figure>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
