@{
    ViewBag.Title = "SearchProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content-wrapper">
         

                @*@for (int i = 1; i < ViewBag.productCounts; i++)
                    {

                    }*@

              @*  <table>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td> @product.Product.Name</td>
                            <td>  @product.Product.Model</td>
                            <td>  @product.ProductPrice.SellingPrice</td>
                        </tr>
                    }

                </table>*@
              
            </div>
        